<blockquote class="blockquote border-start border-4 border-light ps-4 my-5">
    <div class="bg-dark bg-opacity-25 p-4 rounded-3 shadow-sm">
        <span class="material-symbols-outlined display-1" style="font-size: 5.0rem;"
            aria-hidden="true">format_quote</span>
        <h3 class="mb-4">{{ include.title }}</h3>
        <p class="lead text-white fst-italic mb-3">
            {{ include.content }}
        </p>
        <footer class="blockquote-footer text-white-50 mt-4">
            <cite>{{ include.author }}</cite>
        </footer>
    </div>
</blockquote>